services:
  - type: web
    name: attendance-system
    env: python
    region: oregon
    buildCommand: "./build.sh"
    startCommand: "gunicorn app:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: SECRET_KEY
        generateValue: true
      - key: MONGODB_URI
        sync: false
    healthCheckPath: /
